@model IEnumerable<CoreAndFood.DATA.Models.Category>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
	<ul class="nav navbar-nav nav_1">
		@foreach (var item in Model)
		{
			<li><a href="~/web/products.html">@item.CategoryName</a></li>
		}		
	</ul>
</div>